:root{
    padding:0;
    margin:0;
    font-size:16px;

}
.hidden{
    display:none;
}

/****Layout****/

#container{
    display:flex;
    width:100%;
    height:100vh;
    
}

#container_left{
    width:30%;
}

#container_right{
    width:70%;
    overflow-y:scroll;
}

/*----Layout - Mobile Until 1000px wide----*/
@media screen and (max-width:1000px){
    #container{
    flex-direction:column;
    height:95vh;
    }
    #container_left,#container_right{
        width:100%;
        
    }
    #container_left{
        height:auto;
    }
    #container_right{
        height:auto;
    }
}

/****Left Container****/

#container_left h1,h2, label{
    font-family:arial;
    padding:0;
    margin:0;
}

#container_left_heading{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

input{
    vertical-align:middle; /*I dont know why this works but it does...*/
}

#task{
    margin-left:50px;
}
#date_due{
    margin-left:23px;
}

#time_due{
    margin-left:21px;
}
#category{
    margin-left:22px;
}
#color{
    margin-left:44px;
}

#button_container{
    display:flex;
    justify-content:space-around;
    margin-top:10px;
}

#add_task, #reset_button{
    width:150px;
    height:30px;
}




#entry_box{
    padding:10px;
    width:90%;
    margin:auto;
    border-radius:10px;
    background-color:lightblue;
}

#display_options{
    display:flex;
    justify-content:space-around;
    margin-bottom:20px;
}

#display_options button{
    width:150px;
    height:30px;
    font-weight:bold;
    
}

.active{
    background-color:orange;
}



/****Right Container****/


#container_right{
    display:flex;
    justify-content:center;
    align-items:center;
}

#task_container{
    width:95%;
    height:95%;
}

#task_list{
    padding:5px;
    margin:0;
    list-style-type:none;
}

.task_item{
    background-color:whitesmoke;
    margin-bottom:10px;
    box-shadow:5px 5px 5px gray;
}

.task_item_top_selections{
    display:flex;
    justify-content:flex-end;
    background-color:cadetblue;
    height:30px;
}

.task_item_bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    font-family:arial;
    line-height:1.6rem;
}

.task_item_information{
    width:90%;
}

.task_item_check{
    width:50px;
    height:auto;
    cursor:pointer;
}

.complete_task{
    width:50px;
    height:Auto;
}

.delete_task{
    cursor:pointer;
}

#history_container{
    width:95%;
    height:95%;
}

#history_list{
    padding:5px;
    margin:0;
    list-style-type:none;
}

#completed_container{
    width:95%;
    height:95%;
}

#completed_list{
    padding:5px;
    margin:0;
    list-style-type:none;
}